@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=IBM+Plex+Serif:wght@500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    height: 100%;
  }
}

@layer components {
  .text-underline {
    @apply relative before:content-[''] before:absolute before:block before:w-full before:h-[1px] 
    before:bottom-0 before:left-0 before:bg-black
    before:hover:scale-x-100 before:scale-x-0 before:origin-top-left
    before:transition before:ease-in-out before:duration-300 w-fit;
  }
}
